# Default ignored files
/../../atividade_de_ordenação_de_algoritmos./.idea/shelf/
/../../atividade_de_ordenação_de_algoritmos./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Antonio Eduardo\PycharmProjects\atividade_de_ordenação_de_algoritmos.\.idea/dataSources/
/../../atividade_de_ordenação_de_algoritmos./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../atividade_de_ordenação_de_algoritmos./.idea/httpRequests/
